<div id="adding-bookmarks">
  <form action="/bookmarks" method="post">
    <input id="enter-url" type="url" name="url" placeholder="Enter URL"
    alt="Text box to type a URL in"/>
    <input id="enter-title" type="text" name="title" placeholder="Enter Title"
    alt="Text box to type a title in"/>
    <input id="add-bookmark" type="submit" name="add-bookmark"
    value="Add Bookmark" alt="Button to submit a new bookmark"/>
  </form>
</div>
<br/>
<table id="bookmark-table">
  <% if @bookmarks.empty? %>
    <p>No bookmarks have been added yet.</p>
  <% else %>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td id="bookmark-table-data">
          <a href=<%= bookmark.url %> title=<%= bookmark.url %> target="_blank">
            <%= bookmark.title %>
          </a>
        </td>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <td>
            <input type="hidden" name="_method" value="DELETE"/>
            <button id="delete-bookmark" title="Delete Bookmark">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
          <td>
            <button id="edit-bookmark" title="Edit Bookmark">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
          <td>
            <button id="add-comment" title="Add a Comment">
              <i class="fas fa-comment"></i>
            </button>
          </td>
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/comments" method="get">
          <td>
            <button id="comments" title="View Comments">
              <i class="fas fa-eye"></i>
            </button>
          </td>
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
          <td>
            <button id="add-tag" title="Add a Tag">
              <i class="fas fa-tag"></i>
            </button>
          </td>
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/tags" method="get">
          <td class="tags">
            <button id="tags" title="View Tags">
              <i class="fas fa-tags"></i>
            </button>
          </td>
        </form>
      </tr>
    <% end %>
  <% end %>
</table>
